html, body {
	margin: 		0pt;
	padding: 		0pt;
	width: 			100%;
	height: 		100%;
}

#map {
	margin: 		5pt;
	width: 			60%;
    height: 		96%;
	float: 			left;
}

#controlPanel {
	margin: 		5pt;
	padding: 		5pt;
	width: 			35%;
	height: 		auto;
	float: 			left;
	border: solid 3pt black;
}

div.panel {
	margin: 		3pt;
	padding: 		3pt;
	width: 			auto;
	height: 		auto;
	border: solid 2pt black;
}

div.item {
	margin: 		2pt;
	padding: 		2pt;
	width: 			auto;
	height: 		auto;
	border: solid 1pt black;
}

select {
	width: 			99%;
}

textarea {
	width: 			99%;
	margin: 		auto;
}

#optionPanel {
}

#optionItem {
}

#inputPanel {
}

#inputItem {
}

#outputPanel {
}

#outputItem {
}

#sendPanel {
}

#sendItem {
}