<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
	<link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="map"></div>
	<input class="button" type="button" value="Create road" onclick="sendRoad()">
	<script defer src="script1.js"></script>
	<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWNP65YGCI0ZtbrxAM-ulQJ7TMfRCRl2Q&libraries=places&callback=initMap"></script>
  </body>
</html>